* {
  box-sizing: border-box;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.dkk-head {
  font-weight: 600;
}

.card-container {
  width: 450px;
  border: 1.5px solid #c8c8c8;
  padding: 20px;
  border-radius: 5px;
}

.selected-card-container {
  width: 450px;
  border: 2px solid green;
  padding: 20px;
  border-radius: 5px;
  background-color: #e9f5ec;
}

.flx-row {
  display: flex;
  flex-direction: row;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.card-main-container {
  margin-top: 20px;
}

.input-plus-div {
  width: 35%;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}

p {
  padding: 0px;
  margin: 2px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.card-head-container {
  justify-content: space-between;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

hr {
  width: 100%;
  background: #c8c8c8;
}

.pair-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  color: #007f61;
  font-size: 18.076px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px;
  width: 500px;
  text-align: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 0px;
}

.will-display {
  display: block;
}

.will-not-display {
  display: none;
}

.size-color-cont {
  width: 200px;
  margin-left: 45px;
  margin-top: 5px;
}

.size-p {
  font-size: 10px;
  font-weight: 500;
  margin-right: 40px;
}

.quantity-container {
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-left: 20px;
  margin-top: 5px;
}

.quanity-num {
  font-size: 12px;
}

select {
  width: 60px;
  height: 20px;
}
